/* Version 1.12 */


/*ul#avia-menu{*/
/*display: none;*/
/*}*/
/*.fullsize .container{*/
    /*max-width: 100% !important;*/
   /*width: 100% !important;*/
    /*padding: 0 !important;*/
/*}*/


/*html{*/
    /*scroll-behavior: smooth;*/
/*}*/
/*html:focus-within{*/
    /*scroll-behavior: smooth;*/
/*}*/

@font-face {
    font-family: "Samim";
    src: url("../assets/fonts/Samim-FD.ttf") format("truetype"), url("../assets/fonts/Samim-FD.eot") format("eot"), url("../assets/fonts/Samim-FD.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a:hover, a:focus, a:visited {
    text-decoration: none !important;
}

.top_banner{
    position: relative;
    background: linear-gradient(to left , rgba(0,0,0,0.8),rgba(38,50,56,0.3)), url(../assets/images/TopBg.gif);
    /*background: linear-gradient(to left , transparent , transparent), url(../assets/images/TopBg.gif);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    border-radius: 0 !important;
    margin-top: 35px;
    height: calc(100vh - 250px);
}

.top_banner_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.top_banner #topBannerLoading{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    z-index: 1000;
}

.top_banner #topBannerLoading i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4em;
    color: #51baa8;
}

.top_banner .top_banner_Title{
    visibility: hidden;
    width: 100%;
    color: #ffffff;
    font-size:3em;
    font-weight: bold;
    text-align: center;
    user-select: none;
    padding: 0;
    margin: 0;
}
.top_banner .top_banner_Slogan{
    visibility: hidden;
    width: 100%;
    color: #eeeeee;
    text-align: center;
    user-select: none;
    padding: 0;
    margin: 0 auto;
    font-size: 1.75em;
    font-family: Samim,iranyekan,Sans-serif!important;
}


/* Spa Form */
.spa_container_frm .form-row{
    position: relative;
}
.spa_container_frm form label , .spa_container_frm form .form-text{
    text-align: right;
}
.spa_container_frm form label {
    color: #455A64;
}
.spa_container_frm form input{
    background: #263238 !important;
    border-color: transparent !important;
    height: 36px;
    border-radius: 0 !important;
    color: #9e9e9e;
}
.spa_container_frm form button {
    height: 36px;
    border-radius: 0 !important;
}
.spa_container_frm form .input-group-prepend{
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    z-index: 100;
}
.spa_container_frm form .input-group-prepend .input-group-text{
    background: transparent;
    border: none;
    color: #455A64;
}
.spa_container_frm .form-group{
    text-align: right;
}
#password_input_container {
    position: relative;
}
#password_input_container i#pass_reveal{
    position: absolute;
    left: -4px;
    top: 0;
    z-index: 100;
    height: 36px;
    line-height: 36px;
    background: transparent;
    padding: 0 10px;
    color: #455A64;
    border-radius: 0;
}
.spa_container_frm form#login_frm input  {
    text-indent: 45px;
}
#login_frm_submit_btn{
    height: 36px;
    background-color: #cb2027;
    color: #eee;
}
#login_frm_submit_btn:hover{
    background-color: #D50000;
}
.spa_container_title {
    text-align: right;
}
.spa_container_text {
    text-align: justify;
}
form .required>label{
    position: relative;
}
form .required>label::after{
    content: "*";
    color: tomato;
    position: absolute;
    right: auto;
    top: 4px;
    padding: 0 3px;
}
form .valid_input{
    position: absolute;
    left: 15px;
    top: 30px;
    font-size: 1.5em;
    color: #00796B;
    display: none;
}
form .invalid_input{
    position: absolute;
    left: 15px;
    top: 32px;
    font-size: 1.125em;
    color: tomato;
    display: none;
}

form .text-muted {
    color: #37474F !important;
}
.spa_container_frm form .invalid-feedback{
    color: tomato;
    text-align: right;
    font-weight: lighter !important;
}
.owl-carousel .item img{
    width: 100px;
    height: auto;
    filter: grayscale(1);
    transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    -webkit-transition:0.8s ease-in-out ;
}
.owl-carousel .item img:hover{
    filter: grayscale(0.4);
}
.owl-stage-outer{
    width: 92%;
    margin: auto;
}
#password_recovery_sms_method{
    display: none;
}

.spa_container_frm{
    border-radius: 0 !important;
    margin: 24px auto;
    border: 2px groove #37474F !important;
}
.spa_container_frm .nav-tabs{
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    border-bottom: 2px groove #37474F;
}
.spa_container_frm .nav-tabs li:first-child{
    border-left: 2px groove #37474F;
}
.spa_container_frm .nav-tabs li{
    position: relative;
    list-style-type: none;
    background: transparent;
    width: 50%;
    height: 40px;
    border-radius: 0;
    padding: 15px 0;
    transition: 0.3s ease-in-out;
}
.spa_container_frm .nav-tabs li.active:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40%;
    /*border: 2px solid #cb2027;*/
    background-color: #cb2027;
}

.spa_container_frm .nav-tabs li.active:before{
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 40%;
    /*border: 2px solid #cb2027;*/
    background-color: #cb2027;
}


.spa_container_frm .nav-tabs li.active{
    background-color: #cb2027;
}
.spa_container_frm .nav-tabs li.active a{
    color: #eeeeee;
}
.spa_container_frm .nav-tabs li a{
    color: #eeeeee;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.125em;
}

.spa_container_frm form{
    padding: 20px;
    height: auto;
    overflow: auto;
    max-height: 300px;
}
.spa_container_frm form#login_frm{
    padding: 40px 20px;
}
.spa_container_frm form input{
    margin: 0 !important;
}
.spa_container_img {
    padding: 15px 50px;
}
.spa_container_img .spa_logo{
    width: 300px;
    height: auto;
}

span.input-group-text {
    border-radius: 0;
}

.tab-content{
    border: none;
    border-radius: 0;
}
button#register_frm_submit_btn {
    background-color: #cb2027;
    border-color: #cb2027;
    color: #eee;
}
button#register_frm_submit_btn:hover {
    background-color: #D50000;
}

.nav-tabs {
    border-bottom: 1px solid #455A64;
}

#regAlert{
    visibility: hidden;
    display: flex;
    background: transparent;
    border-radius: 0;
    border-color: tomato;
    color: tomato;
    justify-content: space-between;
    align-items: center;
}
/* Spa Form */



/* Posts Grid */
.grid_container{
    direction: rtl;
    width: 90%;
    margin: 20px 5% 50px 5%;
    font-family: Samim, sans-serif, Arial, Helvetica, sans-serif;
}
.block {
    margin:0;
    text-align: center;
    display: block;
    position: relative;
}
.block.big{
    height: 340px;
    border: 1px solid #eee;
    padding: 0;
}
.block.small{
    height: 170px;
    border: 1px solid #eee;
    padding: 0;
}
.rightSide{
    height: auto;
    background-color: gray;
    padding: 0 !important;
}
.leftSide{
    height: auto;
    background-color: darkgray;
    padding: 0 !important;
}
.big h4.post_title {
    position: absolute;
    right: 0;bottom: 0;
    padding: 4px;
    margin:8px 12px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}
.small h4.post_title {
    position: absolute;
    right: 0;bottom: 0;
    padding: 4px;
    color: #fff;
    margin:8px 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}
.post_link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 5%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.9) 95%);
}
.post_link:hover{
    background: linear-gradient(to bottom,transparent 5%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.9) 90%);
}
.bigImage img{
    height: 340px;
    width: 100%;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    filter: grayscale(1);
}
.smallImage img{
    height: 170px;
    width: 100%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    filter: grayscale(1);
}
.block figure{
    overflow: hidden !important;
}
.block:hover img{
    filter: grayscale(0);
}

.card-deck{
    width: 90%;
    padding: 0 25px;
    margin: 40px auto !important;
    position: relative;
    background-color: #ffffff;
}

.card-deck .card-deck-title{
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 1.5em;
    font-family: iranyekan,Samim,Sans-serif!important;
    color: #424242;
    margin-bottom: 30px;
    padding: 4px;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
    font-weight: normal;
}
.card-deck .card-deck-title:hover , .card-deck .card-deck-title:focus {
    text-decoration: none;
}
.card-deck .more_link{
    position: relative;
    text-align: center;
    padding: 5px 15px;
    color: #757575 !important;
    font-size: 14px;
    font-weight: bold !important;
}

.card-deck .more_link:hover{
    text-decoration: none;
    color: #cb2027 !important;
}
.card-deck .more_link i{
    position: absolute;
    visibility: hidden;
    left: 30px;
    top: 25%;
    font-size: 1em;
    color: #757575;
    font-weight: bold;
    -moz-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: -1;
}

.card-deck .more_link:hover i{
    visibility: visible;
    left: 0;
    color: #cb2027;
    z-index: 0;
}

.card-deck-title::after{
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    border-bottom: 1px solid #cb2027;
    border-radius: 20px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.card-deck .card-deck-title::before {
    content: "";
    width: 0;
    position: absolute;
    bottom: -1px;
    right: 0;
    border-bottom: 2px solid #ffffff;
    border-radius: 20px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.card-deck-title.large::after{
    width: 110px;
}
.card-deck-title.middle::after{
    width: 95px;
}
.card-deck-title.small::after{
    width: 65px;
}


.card-deck .card{
    -webkit-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 0;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
}
.card-deck .card a{
    border-radius: 0;
}
.card-deck .card a img{
    border-radius: 0;
    height: 175px;
}
.card-deck .card .card-title{
    text-align: center;
    font-size: 1.25em;
    line-height: 1.6;
    color: #1c272b;
    padding: 0 10px;
}

.card-deck .card-body {
    padding: 0 !important;
}

.card-deck .card-body a:hover{
    text-decoration: none;
}
.card-deck .card:hover{
    box-shadow: 0 0 10px #bdbdbd;
    transform: scale(1.01);
}

.card-deck .card .card-text{
    padding: 15px;
    font-size: 13px;
    color: #424242;
    text-align: justify;
    text-align-last: center;
    font-family: Samim,iranyekan,Sans-serif!important;
}

/* Posts Grid */
/* Top Links */
.link_items{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -30px;
}
.linkItem {
    min-width: 15%;
    width: 16%;
    text-align: center;
    padding: 15px;
    border-radius: 0 !important;
}
.linkItem.odd{
    background: #ffffff;
}
.linkItem.even{
    background: #ffffff;
}
.linkItem a{
    text-align: center;
    color: #eee;
    font-size: 1.25em;
    font-family: iranyekan,Samim,Sans-serif!important;
}
.linkItem a:hover{
    color: #fff !important;
    text-decoration: none;
}
.linkItem a img.linkItemImg{
    width: 50px;
    height: auto;
    visibility: hidden;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

/*.linkItem:hover img{*/
/*transform: scale(1.05);*/
/*}*/
.linkItem a p.linkItemText{
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
    color: #1c272b;
    visibility: hidden;
}
.linkItem a i{
    font-size: 4em;
    -webkit-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.linkItem:hover i{
    transform:scale(1.1);
}
/* Top Links */


/* for Radshid */
#wps-slider-section.wps-slider-section-11749 {
    padding-top: 0 !important;
}
#wps-slider-section {
    padding: 0 60px;
}
.slick-prev , .slick-next{
    display: none;
}
.owl-dots{
    margin-top: 24px;
}
#wps-slider-section #sp-woo-product-slider-13958 .wpsf-product-title a {
    font-size: 14px !important;
}

#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
    margin: auto;
}

footer.socket_color{
    background-color: #1c272b !important;
}
/* for Radshid */

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: tomato;
    }
}

/* laoding circle */
.loader-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
    height: 100%;
    border-radius: 0 !important;
}
.loader-container .loader_circle {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #cb2027;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    -o-animation: spin 0.5s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* laoding circle */


.avia_textblock p {
    font-family: Samim,iranyekan,Sans-serif!important;
}
.avia_textblock p span{
    font-family: Samim,iranyekan,Sans-serif!important;
}
.yith-wcbm-badge-text{
    font-family: Samim,iranyekan,Sans-serif;
}

/* Products Slider */
.psfw-image img{
    padding: 50px;
}
.psfw-image-hover-wrap::before{
    z-index: -5 !important;
}
.psfw-inner-wrap{
    border-radius: 0;
}
.psfw-inner-wrap .psfw-image-hover-wrap::before{
    background-color: #ffffff !important;
}
.psfw-inner-wrap:hover .psfw-image-hover-wrap::before{
    background-color: #ffffff !important;
}
.psfw-title a{
    font-size: 13px !important;
    line-height: 2 !important;
}
.psfw-title a:hover{
    color: #e61d0f !important;
}
.psfw-price .woocommerce-Price-amount{
    color: #e61d0f !important;
}
.psfw-price .woocommerce-Price-amount bdi{
    font-size: 15px;
}

.psfw-total-lightbox-content .psfw-close-lightbox{
    background-color: #1c272b !important;
}
.psfw-main-product-wrapper.psfw-car-template-6 .bx-wrapper {
    max-width: 1170px !important;
}
.psfw-main-product-wrapper.psfw-car-template-6 .bx-wrapper .bx-controls-direction a {
    background-color: #ebebeb;
    color: #4d4d4d;
    border-radius: 0 !important;
    height: 70px;
    line-height: 70px;
    margin: auto 5px;
}
.bx-prev i, .bx-next i{
    line-height: 75px !important;
}
.bx-prev:hover{
    background-color: #ebebeb !important;
    color: #4d4d4d !important;
}
.bx-next:hover{
    background-color: #ebebeb !important;
    color: #4d4d4d !important;
}

.psfw-buton-one-wrapper:hover{
    background-color: #ebebeb !important;
}
.psfw-share-wrap a{
    background-color: #ffffff !important;
    color: #757575 !important;
}
.psfw-share-wrap a:hover{
    color: #cb2027 !important;
}
.psfw-top-hover-wrap{
    background-color: #1c272b !important;
}
.psfw-main-product-wrapper.psfw-grid-template-13 .psfw-inner-wrap-contain .psfw-price, .psfw-main-product-wrapper.psfw-grid-template-14 .psfw-inner-wrap-contain .psfw-price, .psfw-main-product-wrapper.psfw-car-template-6 .psfw-inner-wrap-contain .psfw-price, .psfw-main-product-wrapper.psfw-frame-template-3 .psfw-inner-wrap-contain .psfw-price {
    font-size: 11px !important;
    color: #e61d0f !important;
}
.psfw-content-lightbox{
    background-color: #1c272b !important;
}
.psfw-content-lightbox:hover{
    background-color: #1c272b !important;
}
.psfw-inner-wrap .button-tooltip{
    background-color: #1c272b !important;
}
.psfw-inner-wrap .button-tooltip::before{
    display: none !important;
}

.psfw-main-product-wrapper .psfw-inner-wrap.psfw-active-lightbox .psfw-lightbox-detail-wrap, .psfw-main-product-wrapper .psfw-masonry-item.psfw-active-lightbox .psfw-lightbox-detail-wrap, .psfw-main-product-wrapper .psfw-slider-inner-wrap.psfw-active-lightbox .psfw-lightbox-detail-wrap, .psfw-display-popup.psfw-active .psfw-lightbox-detail-wrap {
    box-shadow: 0 0 5px #bdbdbd;
}

.psfw-lightbox-detail-wrap{
    padding: 0 !important;
}

.psfw-lightbox-button-collect-wrap .psfw-buton-one-wrapper.psfw-button a{
    background-color: #ebebeb !important;
    color: #424242; !important;
}
.psfw-lightbox-button-collect-wrap .psfw-buton-one-wrapper.psfw-button a:hover{
    background-color: #ebebeb !important;
    color: #424242 !important;
}

.psfw-main-product-wrapper .psfw-inner-wrap .psfw-lightbox-template-3 .psfw-button a, .psfw-main-product-wrapper .psfw-inner-wrap .psfw-lightbox-template-3 .psfw-lightbox-wishlist-wrap a, .psfw-main-product-wrapper .psfw-masonry-item .psfw-lightbox-template-3 .psfw-button a, .psfw-main-product-wrapper .psfw-masonry-item .psfw-lightbox-template-3 .psfw-lightbox-wishlist-wrap a, .psfw-display-popup .psfw-lightbox-template-3 .psfw-button a, .psfw-display-popup .psfw-lightbox-template-3 .psfw-lightbox-wishlist-wrap a, .psfw-main-product-wrapper .psfw-slider-inner-wrap .psfw-lightbox-template-3 .psfw-button a, .psfw-main-product-wrapper .psfw-slider-inner-wrap .psfw-lightbox-template-3 .psfw-lightbox-wishlist-wrap a {
    color: #757575 !important;
}

.psfw-buton-one-wrapper.psfw-button a  {
    background-color: #ebebeb !important;
    color: #424242; !important;
}
.psfw-buton-one-wrapper.psfw-button a:hover  {
    background-color: #ebebeb !important;
    color: #424242 !important;
}

.bx-controls-direction .bx-prev ,.bx-controls-direction .bx-next {
    padding: 0 10px;
}
/* Products Slider */


/* Affilate Separator Section */
.separator {
    background: #1c272b;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: Samim,iranyekan,Sans-serif;
    border-radius: 0 !important;
}

.separator_sub {
    width: 50%;
    text-align: center;
    padding: 25px 50px;
    user-select: none;
}

.separator_sub#separator_sub_right{
    margin-right: 75px;
}
.separator_sub#separator_sub_left{
    margin-left: 75px;
}

.separator_sub_image img{
    width: 400px;
    height: auto;
    border-radius: 50%;
    padding: 15px;
}

.separator_sub_title {
    font-family: iranyekan,Samim,Sans-serif!important;
    color: #eee !important;
    text-align: right;
    font-size: 2em;
}
.separator_sub_text {
    color: #bdbdbd !important;
    line-height: 2 !important;
    font-size: 15px !important;
    text-align: justify !important;
    font-family: Samim,iranyekan,Sans-serif!important;
}

.separator_link{
    background: #cb2027;
    color: #eee !important;
    border-radius: 0 !important;
    padding: 8px 25px;
    font-size: 1.25em;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    border: none;
}
.separator_link:hover{
    background: #e61d0f;
    border: none;
}

#spa_separator_content{
    width: 100%;
}
#spa_separator_content figure{
    shape-outside: circle(40% at 60% 50%);
    float: left;
    width: 275px;
    height: auto;
    padding: 30px;
}
#spa_separator_content p{
    width: 100%;
}
/* Affilate Separator Section */




/* Affilate Dash Page Section */
.scroll_links{
    width: 100%;
}
.scroll_links .navbar-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    list-style-type: none;
}
.scroll_links .navbar-nav .nav-item{

}
/* Affilate Dash Page Section */




/* ScrollBars */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 25px #ffffff;
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    background: #cb2027;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    background: #D50000;
}

#register_frm::-webkit-scrollbar , #login_frm::-webkit-scrollbar  {
    width: 2px;
}
#register_frm::-webkit-scrollbar-track , #login_frm::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 25px #bdbdbd;
    border-radius: 0;
}
#register_frm::-webkit-scrollbar-thumb, #login_frm::-webkit-scrollbar-thumb {
    background: #cb2027;
}
#register_frm::-webkit-scrollbar-thumb:hover , #login_frm::-webkit-scrollbar-thumb:hover {
    background: #cb2027;
}
/* ScrollBars */



/* Responsive */
@media screen and (max-width: 1300px) {
    .linkItem {
        padding: 16px;
    }
}
@media screen and (max-width: 1000px) {
    .card-deck {
        padding: 0 90px;
        margin: 60px auto;
    }
    .linkItem {
        padding: 24px;
    }

    #spa_separator_content p{
        width: 150%;
    }
}
@media screen and (max-width: 768px) {
    .top_banner{
        background: linear-gradient(to left , rgba(0,0,0,0.8),rgba(38,50,56,0.3)), url(../assets/images/TopBg-mobile.gif);
        background-size: cover;
        margin-top: -30px;
        height: 300px;
    }
    .top_banner #topBannerLoading{
        height: 400px;
    }
    .responsive #top .logo {
        padding: 0 65px;
    }
    .top_banner .top_banner_Title{
        font-size: 2em;
    }
    .top_banner .top_banner_Slogan {
        font-size: 1.5em;
    }
    .link_items{
        margin-top: 15px;
    }
    .linkItem {
        width: 45%;
    }
    .linkItem a p{
        padding: 10px;
    }
    .linkItem a{
        font-size: 0.875em;
    }
    .linkItem a i{
        font-size: 3.5em;
    }
    .card-deck {
        padding: 0 50px;
        margin: 55px auto;
    }
    .card-deck .card{
        flex: auto;
        width: 100%;
        margin: 10px auto;
    }

    .card-deck .card a img{
        height: 150px;
    }

    .separator {
        flex-flow: row wrap;
        justify-content: center;
    }
    .separator.reverseOnMob {
        flex-flow: row wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .separator_sub {
        width: 90%;
        margin: 30px auto;
        padding: 0 15px;
    }

    .separator_sub #separator_sub_right{
        margin-right: 0;
    }

    .separator_sub_image img{
        width: 200px;
    }
    p.separator_sub_text {
        font-size: 13px;
    }

    .separator_link{
        padding: 8px 25px;
        font-size: 1.25em;
        width: 100%;
    }

    .separator_sub#separator_sub_right{
        margin-right: auto;
    }
    .separator_sub#separator_sub_left{
        margin-left: auto;
    }

    .card-deck .card-deck-title{
        font-size: 1.25em;
    }

    #spa_separator_content p{
        width: 100%;
    }

    .psfw-main-product-wrapper .bx-wrapper .bx-controls-direction {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .separator_sub_title {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 600px) {
    .top_banner{
        height: 250px;
    }
    .linkItem a{
        font-size: 0.875em;
    }
    .linkItem a i{
        font-size: 2.5em;
    }
    .linkItem {
        padding:10px;
    }
    .card-deck {
        padding: 0 20px;
        margin: 40px auto;
    }
    #spa_separator_content figure{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .top_banner{
        height: 225px;
    }
    .top_banner .top_banner_Title{
        font-size: 1.75em;
    }
    .top_banner .top_banner_Slogan {
        font-size: 1.25em;
    }
    .card-deck {
        padding: 0;
    }

    .spa_container_frm .nav-tabs li{
        padding: 10px 0;
    }
    .swal2-container{
        width: 100%;
    }

}
@media screen and (max-width: 400px) {
    .top_banner{
        height: 175px;
        margin-top: -24px;
    }
    .top_banner .top_banner_Title{
        font-size: 1.5em;
    }
    .top_banner .top_banner_Slogan {
        font-size: 1em;
    }

    .psfw-controls-true{
        width: 100% !important;
    }
    .owl-dots{
        display: none;
    }
    .link_items {
        margin-top: 0;
    }
    .linkItem a{
        font-size: 1em;
    }
    .psfw-inner-wrap{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
@media screen and (max-width: 300px) {
    .top_banner{
        height: 125px;
    }
    .linkItem a{
        font-size: 0.75em;
    }
    .linkItem a i{
        font-size: 2.5em;
    }
    .top_banner .top_banner_Title{
        font-size: 1em;
    }
    .top_banner .top_banner_Slogan {
        font-size: 0.65em;
    }
}
/* Responsive */



