@font-face {
    font-family: "Gandom";
    src: url("../assets/fonts/Gandom-FD.ttf") format("truetype"), url("../assets/fonts/Gandom-FD.eot") format("eot"), url("../assets/fonts/Gandom-FD.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

a:hover, a:focus, a:visited {
    text-decoration: none !important;
}

.top_banner {
    position: relative;
    background: linear-gradient(to left , rgba(81,186,168,0.6),rgba(38,50,56,0.6)), url(../assets/images/TopBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    border-radius: 0 !important;
    margin-top: 0;
    height: calc(100vh - 265px);
}

.top_banner #topBannerLoading{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    z-index: 1000;
}

.top_banner #topBannerLoading i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4em;
    color: #51baa8;
}

.top_banner .top_banner_Title{
    visibility: hidden;
    position: absolute;
    left: 0;
    /*top: calc(100vh - 500px);*/
    bottom: 55%;
    width: 100%;
    color: #ffffff;
    font-size:3em;
    font-weight: bold;
    text-align: center;
    user-select: none;
    padding: 0;
    margin: 0;
}
.top_banner .top_banner_Slogan{
    visibility: hidden;
    position: absolute;
    left: 0;
    /*top: calc(100vh - 435px);*/
    bottom: 45%;
    width: 100%;
    color: #eeeeee;
    text-align: center;
    user-select: none;
    padding: 0;
    margin: 0 auto;
    font-size: 1.75em;
    font-family: iranyekan !important;
}
.form-row{
    position: relative;
}
form label , form .form-text{
    text-align: right;
}
form input ,form button {
    height: 36px;
    border-radius: 0 !important;
}
form .input-group-prepend{
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    z-index: 100;
}
.form-group{
    text-align: right;
}
#password_input_container {
    position: relative;
}
#password_input_container i#pass_reveal{
    position: absolute;
    left: -4px;
    top: 0;
    z-index: 100;
    height: 36px;
    line-height: 36px;
    background: #e9ecef;
    padding: 0 10px;
}
#login_frm input ,#password_recovery_frm input {
    text-indent: 45px;
}
#login_frm_submit_btn{
    height: 36px;
}
form .required>label{
    position: relative;
}
form .required>label::after{
    content: "*";
    color: orangered;
    position: absolute;
    right: auto;
    top: 0;
    padding: 0 3px;
}
form .valid_input{
    position: absolute;
    left: 15px;
    top: 30px;
    font-size: 1.5em;
    color: darkgreen;
    display: none;
}
.invalid-feedback{
    color: orangered;
    text-align: right;
}
.owl-carousel .item img{
    width: 100px;
    height: auto;
    filter: grayscale(1);
    transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    -webkit-transition:0.8s ease-in-out ;
}
.owl-carousel .item img:hover{
    filter: grayscale(0.4);
}
.owl-stage-outer{
    width: 92%;
    margin: auto;
}
#password_recovery_sms_method{
    display: none;
}
/* Posts Grid */
.grid_container{
    direction: rtl;
    width: 90%;
    margin: 20px 5% 50px 5%;
    font-family: vazir, sans-serif, Arial, Helvetica, sans-serif;
}
.block {
    margin:0;
    text-align: center;
    display: block;
    position: relative;
}
.block.big{
    height: 340px;
    border: 1px solid #eee;
    padding: 0;
}
.block.small{
    height: 170px;
    border: 1px solid #eee;
    padding: 0;
}
.rightSide{
    height: auto;
    background-color: gray;
    padding: 0 !important;
}
.leftSide{
    height: auto;
    background-color: darkgray;
    padding: 0 !important;
}
.big h4.post_title {
    position: absolute;
    right: 0;bottom: 0;
    padding: 4px;
    margin:8px 12px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}
.small h4.post_title {
    position: absolute;
    right: 0;bottom: 0;
    padding: 4px;
    color: #fff;
    margin:8px 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}
.post_link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,transparent 5%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.9) 95%);
}
.post_link:hover{
    background: linear-gradient(to bottom,transparent 5%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.9) 90%);
}
.bigImage img{
    height: 340px;
    width: 100%;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    filter: grayscale(1);
}
.smallImage img{
    height: 170px;
    width: 100%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    filter: grayscale(1);
}
.block figure{
    overflow: hidden !important;
}
.block:hover img{
    /*transform: scale(1.02);*/
    filter: grayscale(0);
}
.card-deck{
    width: 90%;
    padding: 0 25px;
    margin: 40px auto !important;
    position: relative;
    background-color: #ffffff;
}

.card-deck .card-deck-title{
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 1.75em;
    font-family: 'iranyekan';
    color: #808080;
    margin-bottom: 30px;
    padding: 8px 4px;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
    font-weight: normal;
}
.card-deck .card-deck-title:hover , .card-deck .card-deck-title:focus {
    text-decoration: underline;
}
.card-deck .more_link{
    width: 100%;
    text-align: left;
    margin-top: -30px;
    margin-bottom: 36px;
    padding: 0 15px;
}
.card-deck .more_link:hover{
    text-decoration: none;
}

.card-deck-title::after{
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    border-bottom: 3px solid #51BAA8;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}
.card-deck:hover .card-deck-title::after{
    width: 100px;
}

.card-deck-title a{
    font-family: 'Gandom' !important;
    font-size: 15px;
    color: #51BAA8 !important;
    font-weight: bold !important;
}

.card-deck-title a:hover{
    text-decoration: underline;
}

.card-deck .card{
    -webkit-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 0;
    background-color: #fafafa;
}
.card-deck .card a{
    border-radius: 0;
}
.card-deck .card a img{
    border-radius: 0;
    height: 150px;
}
.card-deck .card .card-title{
    text-align: center;
    font-size: 1em;
    line-height: 1.6;
    color: #424242;
}
.card-deck .card-body {
    padding: 0 !important;
}
.card-deck .card-body a:hover{
    text-decoration: none;
}
.card-deck .card:hover{
    box-shadow: 0 0 10px #bdbdbd;
    transform: scale(1.01);
}
/* Posts Grid */
/* Top Links */
.link_items{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -30px;
}
.linkItem {
    min-width: 15%;
    width: 16%;
    text-align: center;
    padding: 15px;
    border-radius: 0 !important;
}
.linkItem.odd{
    background: #ffffff;
}
.linkItem.even{
    background: #ffffff;
}
.linkItem a{
    text-align: center;
    color: #eee;
    font-size: 1.25em;
    font-family: 'iranyekan';
}
.linkItem a:hover{
    color: #fff !important;
    text-decoration: none;
}
.linkItem a img{
    width: 50px;
    height: auto;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}
.linkItem:hover img{
    transform: scale(1.05);
}
.linkItem a p{
    text-align: center;
    margin: 0;
    padding: 8px;
    font-weight: bold;
    font-size: 0.875em;
    color: #808080;
}
.linkItem a i{
    font-size: 4em;
    -webkit-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.linkItem:hover i{
    transform:scale(1.1);
}
/* Top Links */


/* for Radshid */
/*.fullsize .container{*/
/*max-width: 100% !important;*/
/*padding: 0 !important;*/
/*}*/

#wps-slider-section.wps-slider-section-11749 {
    padding-top: 0 !important;
}
#wps-slider-section {
    padding: 0 60px;
}
.slick-prev , .slick-next{
    display: none;
}
.owl-dots{
    margin-top: 24px;
}
#wps-slider-section #sp-woo-product-slider-13958 .wpsf-product-title a {
    font-size: 14px !important;
}

#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
    margin: auto;
}
/* for Radshid */

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

/* laoding circle */
.loader-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #ffffff;
    height: 100%;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #51BAA8;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* laoding circle */


.avia_textblock p {
    font-family: Gandom,vazir,iranyekan,Sans-serif!important;
}
.avia_textblock p span{
    font-family: Gandom,vazir,iranyekan,Sans-serif!important;
}
.yith-wcbm-badge-text{
    font-family: Gandom,vazir,iranyekan,Sans-serif;
}

/* Products Slider */
.psfw-image-hover-wrap::before{
    z-index: -5 !important;
}
.psfw-inner-wrap:hover .psfw-image-hover-wrap::before{
    background-color: #ffffff !important;
}
.psfw-title a{
    font-size: 13px !important;
    line-height: 2 !important;
}
.psfw-title a:hover{
    color: #e61d0f !important;
}
.psfw-price .woocommerce-Price-amount{
    color: #e61d0f !important;
}
.psfw-price .woocommerce-Price-amount bdi{
    font-size: 13px;
}
.bx-prev, .bx-next{
    border-radius: 0 !important;
    height: 70px;
    line-height: 70px;
    margin: auto 5px;
}
.bx-prev i, .bx-next i{
    line-height: 75px !important;
}
.bx-prev:hover{
    background-color: #ebebeb !important;
    color: #4d4d4d !important;
}
.bx-next:hover{
    background-color: #ebebeb !important;
    color: #4d4d4d !important;
}

.psfw-buton-one-wrapper:hover{
    background-color: #ebebeb !important;
}
.psfw-share-wrap a:hover{
    color: #51BAA8 !important;
}
.psfw-top-hover-wrap{
    background-color: #51BAA8 !important;
}
.psfw-main-product-wrapper.psfw-grid-template-13 .psfw-inner-wrap-contain .psfw-price, .psfw-main-product-wrapper.psfw-grid-template-14 .psfw-inner-wrap-contain .psfw-price, .psfw-main-product-wrapper.psfw-car-template-6 .psfw-inner-wrap-contain .psfw-price, .psfw-main-product-wrapper.psfw-frame-template-3 .psfw-inner-wrap-contain .psfw-price {
    font-size: 11px !important;
    color: #e61d0f !important;
}
.psfw-content-lightbox{
    background-color: #51BAA8 !important;
}
.psfw-inner-wrap .button-tooltip{
    background-color: #51BAA8 !important;
}
.psfw-inner-wrap .button-tooltip::before{
    border-color: #51BAA8 transparent transparent !important;
}
.psfw-button a:hover{
    background-color: #ebebeb !important;
    color: #4d4d4d !important;
}
/* Products Slider */

/* Responsive */
@media screen and (max-width: 1300px) {
    .linkItem {
        padding: 16px;
    }
}
@media screen and (max-width: 1000px) {
    .card-deck {
        padding: 0 90px;
        margin: 60px auto;
    }
    .linkItem {
        padding: 24px;
    }
}
@media screen and (max-width: 768px) {
    .top_banner{
        margin-top: -95px;
        background-size: contain;
        height: 400px;
    }
    .top_banner #topBannerLoading{
        height: 400px;
    }
    /*.responsive #top .logo {*/
    /*padding: 0 65px;*/
    /*}*/
    /*.fullsize .container{*/
    /*width: 100% !important;*/
    /*max-width: 100% !important;*/
    /*padding: 0 !important;*/
    /*}*/

    .top_banner .top_banner_Title{
        font-size: 2.5em;
        bottom: 35%;
    }
    .top_banner .top_banner_Slogan {
        bottom: 50%;
        font-size: 1.75em;
    }
    .link_items{
        margin-top: 15px;
    }
    .linkItem {
        width: 45%;
    }
    .linkItem a p{
        padding: 10px;
    }
    .linkItem a{
        font-size: 0.875em;
    }
    .linkItem a i{
        font-size: 3.5em;
    }
    .card-deck {
        padding: 0 50px;
        margin: 55px auto;
    }
    .card-deck .card{
        flex: auto;
        width: 100%;
    }


}
@media screen and (max-width: 600px) {
    .linkItem a{
        font-size: 0.875em;
    }
    .linkItem a i{
        font-size: 2.5em;
    }
    .linkItem {
        padding:10px;
    }
    .card-deck {
        padding: 0 20px;
        margin: 40px auto;
    }
}
@media screen and (max-width: 500px) {
    .top_banner .top_banner_Title{
        font-size: 2em;
    }
    .top_banner .top_banner_Slogan {
        font-size: 1.5em;
    }
    .card-deck {
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .psfw-controls-true{
        width: 100% !important;
    }
    .owl-dots{
        display: none;
    }
    .linkItem a{
        font-size: 1em;
    }

}
@media screen and (max-width: 300px) {
    .linkItem a{
        font-size: 0.75em;
    }
    .linkItem a i{
        font-size: 2.5em;
    }
    .top_banner .top_banner_Title{
        font-size: 1.5em;
        bottom: 35%;
    }
    .top_banner .top_banner_Slogan {
        bottom: 55%;
        font-size: 1em;
    }


}
/* Responsive */



